
{% extends 'base.html' %}
    {% block content %}
  <title>Gradus Libri</title>
    <dl class="row">
      <dt class="col-sm-3">Короткий опис проєкту</dt>
      <dd class="col-sm-9">Gradus Libri - проєкт створений командою ентузіастів. Наша мета - створити кращу версію електронного щоденника.</dd>
    
      <dt class="col-sm-3">Історія створення</dt>
      <dd class="col-sm-9">
        <p>Щоденник потратив у розробку 10 травня 2024 року для всеукраїнського турніру з інформатики.</p>
      </dd>
    
      <dt class="col-sm-3">Інформація про розробників проєкту</dt>
      <dd class="col-sm-9">
        <p>Рудець Северин - власник та backend розробник.</p>
		
        <p>Пастух Кирило - співвласник, project manager та backend розробник.</p>
    
        <p>Олещук Богдан - frontend розробник.</p>
      </dd>
    
      <dt class="col-sm-3 text-truncate">Ціль проєкту</dt>
      <dd class="col-sm-9">Наша ідея полягає в тому, щоб надавати учням, вчителям та батькам зручний, 
        простий у використанні та надійний інструмент для ведення шкільного життя. 
        Ми прагнемо допомогти учням вести запис своїх домашніх завдань, оцінок, розкладу уроків та шкільних подій в цифровому форматі. 
        Наш щоденник створений з метою забезпечити приватність та безпеку даних наших користувачів, а також надати їм можливість ефективно організовувати своє шкільне життя.</dd>
    
      <dt class="col-sm-3">Як працює ресурс</dt>
      <dd class="col-sm-9">
        <dl class="row">
          <dd class="col-sm-8">probably nothing</dd>
        </dl>
      </dd>
      <dt class="col-sm-3">Контактна інформація</dt>
      <dd class="col-sm-9">
        <dl class="row">
          <dd class="col-sm-8">
          <p>повідомити про проблему - gradus_libri.support@gmail.com</p>


        <p>пропозиції - gradus_libri.suggestions@gmail.com</p>
        
        
        <p> зв'язок з командою - gradus_libri@gmail.com</p>
          </dd>
        </dl>
      </dd>
    </dl>
  {% endblock %}